In [108]:
import sys
import os
import pandas as pd
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), os.pardir)))

In [109]:
from src.finance_ml import dataprep_ml

import importlib
importlib.reload(dataprep_ml)

In [110]:
dataloader = dataprep_ml.DataLoader(time_index_col= 'DATE', keep_cols = ['VOLUME','OPEN', 'CLOSE'])

In [111]:
dataloader.load_dataset({'GOLD':'../data/commodities/GLD_2020-04-07_2022-04-06.parquet',
                        'BITCOINS':'../data/cryptos/BTCUSD_2020-04-07_2022-04-06.parquet'})

,GOLD_VOLUME,GOLD_OPEN,GOLD_CLOSE,BITCOINS_VOLUME,BITCOINS_OPEN,BITCOINS_CLOSE
DATE,,,,,,
2020-04-07 17:48:00,6498.0,154.8500,154.8200,15.835240,7363.09,7352.66
2020-04-07 17:49:00,11244.0,154.8200,154.7700,7.652123,7358.42,7361.54
2020-04-07 17:50:00,26288.0,154.7711,154.7285,16.446123,7361.54,7354.09
2020-04-07 17:51:00,6961.0,154.7300,154.7467,7.068813,7354.14,7345.00
2020-04-07 17:52:00,14951.0,154.7400,154.8300,8.162850,7350.10,7355.16
...,...,...,...,...,...,...
2022-04-06 23:36:00,393.0,179.4000,179.4000,16.400271,43329.27,43290.72
2022-04-06 23:50:00,100.0,179.5700,179.5700,18.054926,43295.56,43252.21
2022-04-06 23:50:00,100.0,179.5700,179.5700,18.054926,43295.56,43252.21
2022-04-06 23:54:00,204.0,179.5400,179.5399,37.006803,43146.71,43144.08
2022-04-06 23:54:00,204.0,179.5400,179.5399,37.006803,43146.71,43144.08

In [113]:
dataloader.tablefreq

           GOLD_time                      BITCOINS_time               \
            GOLD_min  GOLD_max GOLD_count  BITCOINS_min BITCOINS_max
date
2020-04-07  15:43:00  23:37:00      298.0      17:48:00     23:59:00
2020-04-08  09:36:00  23:58:00      514.0      00:00:00     23:59:00
2020-04-09  08:00:00  23:58:00      591.0      00:00:00     23:59:00
2020-04-10       NaN       NaN        NaN      00:00:00     23:59:00
2020-04-11       NaN       NaN        NaN      00:00:00     23:59:00
...              ...       ...        ...           ...          ...
2022-04-02       NaN       NaN        NaN      00:00:00     23:59:00
2022-04-03       NaN       NaN        NaN      00:00:00     23:59:00
2022-04-04  08:01:00  23:59:00      513.0      00:00:00     23:59:00
2022-04-05  08:00:00  23:58:00      489.0      00:00:00     23:58:00
2022-04-06  08:03:00  23:54:00     1004.0      00:00:00     23:58:00


           BITCOINS_count
date
2020-04-07          372.0
2020-04-08         1440.0
2020-04-09         1440.0
2020-04-10         1440.0
2020-04-11         1440.0
...                   ...
2022-04-02         1440.0
2022-04-03         1440.0
2022-04-04         1440.0
2022-04-05         1439.0
2022-04-06         1439.0

[730 rows x 6 columns]